/* Tables */
table{
	border-radius: 0;	
}
table tbody tr:hover{
	background-color: #E5F4E3;
}
table .action_fields a{
	margin-right: 10px;
}
table .action_fields a:hover > i{
	font-weight: bold;
}
table .action_fields a:last-child{
	margin-right: 0;
}

/* Forms */
form input{
	height: 32px;
	font-size: 14px;
}
form input[type="file"]{
	margin-bottom: 12px;
}
form input[type="submit"]{
	margin-bottom: 12px;
}

form textarea{
	height: 64px;
	/*resize: none;*/
}

form input[type="checkbox"]{
	margin-bottom: 12px;
}

form select{
	height: 32px;
	padding: 6px;
	font-size: 14px;
	margin-top: 12Px;
	margin-bottom: 12px;
	background-color: white;
}
form select[multiple="multiple"]{
	height: 77px;
	padding: 6px;
	font-size: 14px;
}

form ul.fields-list li{
	list-style: none;
	border-bottom: 1px solid #7E7E7E;
	margin-bottom: 24px;
}
form ul.fields-list li h4,
form ul.fields-list li h5{
	margin-top: 0;
}
form ul.fields-list li > last{
	margin-bottom: 5px;
}
form ul.fields-list li input[type="file"]{
	margin-bottom: 0px;
}

/* Picture */
.fixed-crop{
	clip: 0px 50px 50px 0px;
}

/* Pagination */
ul.pagination {
	margin-bottom: 0px;
}